@import 'tailwindcss';
@source '../node_modules/@packages/ui/src';

:root {
  /* 
  색성 변경 시 ui 패키지 css 변수 복사 후 적용

  ex)
  --ui-primary: #66bb6a;
  --ui-primary-foreground: #fff;
  --ui-primary-hover: #4caf50;
  */
}

@theme {
  /* cusstom space */
  --spacing-header: 72px;
  --spacing-active-sidebar: 240px;

  /* 레이아웃 색상 */
  --color-header: #fff;
  --color-sidebar: #fff;
  --color-primary-text: #1f2937;
  --color-secondary-text: #9ca3af;

  /* 색상 변수 */
  --color-background: #fafbf9;
  --color-border: #f5f4f0;

  /* ui package 색상값 */
  --color-primary: var(--ui-primary);
  --color-primary-foreground: var(--ui-primary-foreground);
  --color-primary-hover: var(--ui-primary-hover);

  --color-secondary: var(--ui-secondary);
  --color-secondary-foreground: var(--ui-secondary-foreground);
  --color-secondary-hover: var(--ui-secondary-hover);
}

@layer base {
  html {
    @apply text-primary-text;
  }

  button {
    @apply cursor-pointer;
  }
}
