# app
APP_PORT=4000

# prsima
DATABASE_URL="your_database_url"

# token
ACCESS_TOKEN_SECRET="your_access_token_secret"
ACCESS_TOKEN_EXPIRES="10m"

REFRESH_TOKEN_SECRET="your_refresh_token_secret"
REFRESH_TOKEN_EXPIRES="14d"